<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>BIN!</h1>
<h4>Orders</h4>
<div th:each="zakaz:${zakazList}">
    <h4 th:text="${'Delivery price is ' + zakaz.getTotalPrice()+', Quantity is ' + zakaz.getQuantity() + ' and Status is ' + zakaz.getZakazStatus()}"></h4>
    <form action="#" th:action="@{/api/v1/authenticated/zakaz/dead/{id}(id=${zakaz.getId()})}" method="POST">
        <button type="submit">Decline!</button>
    </form>

        </p>
    </div>

</div>

</body>
</html>