<!DOCTYPE html>
<html  lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/api/v1/goods/search}" method="post">
    <label >
        <input type="text" name="name" placeholder="Search by name">
    </label>
    <button type="submit">Search</button>
</form>

<br>
<div th:text="${distributor.getName()}"></div>

<div th:each="good:${goods}">
        <p th:text="${good.getName()  +', ' + good.getPrice()}"></p>
        <form action="#" th:action="@{/api/v1/goods/zakaz/{goods_id}(goods_id=${good.getId()})}" method="POST">
        <button type="submit">Add to Zakaz</button>
    </form>
</div>
    <div th:each="zakazGood : ${zakazGoods}">
        <div th:text="${zakazGood.getGoods().getPrice() +  zakazGood.getGoods().getName() + zakazGood.getGoods().getType()}">
        nothing
        </div>
    </div>


<h2>Reviews</h2>
<div th:text = "${total + '*****'}"></div>
<div th:text = "${distributor.getQuantity() + ' times we were reviewed'}"></div>
<h2>TO review</h2>

<form action="#" th:action="@{/api/v1/distributor/review/{id}(id=${distributor.getId()})}" method="POST">
    <input type="number" id="review" name="review" placeholder="Review" >

    <button type="submit">review</button>
</form>


<form action="#" th:action="@{/api/v1/authenticated/zakaz/make}" method="POST">
    <select th:field="*{payments}">
        <option th:each="payment : ${payments}" th:value="${payment}" th:text="${payment}">

        </option>
    </select>
    <label for="address">Address:</label>
    <input type="text" id="address" name="address" placeholder="Enter your address" >
    <button type="submit">Make zakaz</button>
</form>

</body>
</html>