<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Distributor List</title>
</head>
<body>
<h1>Distributor List</h1>

<div th:each="distributor:${distributorList}">

    <a th:href="@{/api/v1/distributor/{id} (id = ${distributor.getId()})}">
        <h6 th:text="${distributor.getName() + ', '+distributor.getAddress()}"></h6>
        <p  th:text="${distributor.getDescription()}"> </p>
        <img th:src="@{/{image}(image=${distributor.getPhoto()})}"  alt="no image"  height="20%" width="20%">
    </a>
</div>

</body>
</html>
