<!DOCTYPE html>
<html  lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/api/v1/goods/search/{distributor_id} (distributor_id = ${distributor.getId()})}" method="post">
    <label >
        <input type="text" name="name" placeholder="Search by name">
    </label>
    <button type="submit">Search</button>
</form>

<br>
<div th:text="${distributor.getName()}"></div>
<img th:src="@{/{image}(image=${distributor.getPhoto()})}" alt="no image"  height="20%" width="20%">
<p th:text="${distributor.getDescription()}"></p>


<div th:each="good:${goods}">
        <p th:text="${good.getName()  +', ' + good.getPrice()}"></p>
    <img th:src="@{/{image}(image=${good.getPhoto()})}" alt="no image"  height=5%" width=5%">
        <form action="#" th:action="@{/api/v1/goods/zakaz/{goods_id}/{distributor_id}(goods_id=${good.getId()}, distributor_id = ${distributor.getId()})}" method="POST">
        <button type="submit">Add to Zakaz</button>
    </form>
</div>
    <div th:each="zakazGood : ${zakazGoods}">
        <div th:text="${zakazGood.getGoods().getPrice() +  zakazGood.getGoods().getName()}">
        nothing
        </div>
    </div>


<!--<form action="#" th:action="@{/api/v1/authenticated/zakaz/make}" method="POST" th:object="${zakazDto}"  enctype="application/x-www-form-urlencoded">-->
<!--    <select th:field="*{payment}" >-->
<!--        <option th:each="payment : ${payments}" th:value="${payment}" th:text="${payment}">-->
<!--        </option>-->
<!--    </select>-->
<!--    <label for="address">Address:</label>-->
<!--    <input type="text" id="address" name="address" placeholder="Enter your address"  th:field="*{address}">-->
<!--    <button type="submit">Make zakaz</button>-->
<!--</form>-->

<form action="#" th:action="@{/api/v1/authenticated/zakaz/make/{distributor_id} (distributor_id = ${distributor.getId()})}" method="POST" th:object="${zakazDto}">
    <select name="payment" th:field="*{payment}">
        <option th:each="payment : ${payments}" th:value="${payment}" th:text="${payment}"></option>
    </select>
    <label for="address">Address:</label>
    <input type="text" id="address" name="address" placeholder="Enter your address" th:field="*{address}">
    <button type="submit">Make zakaz</button>
</form>





<h2>Reviews</h2>
<div th:text = "${total + '*****'}"></div>
<div th:text = "${distributor.getQuantity() + ' times we were reviewed'}"></div>
<h2>TO review</h2>

<form action="#" th:action="@{/api/v1/distributor/review/{id}(id=${distributor.getId()})}" method="POST">
    <input type="number" id="review" name="review" placeholder="Review" >

    <button type="submit">review</button>
</form>



</body>
</html>