<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>BIN!</h1>-->
<!--<h4>Orders</h4>-->
<!--<div th:each="zakaz:${zakazList}">-->
<!--    <h4 th:text="${'Delivery price is ' + zakaz.getTotalPrice()+', Quantity is ' + zakaz.getQuantity() + ' and Status is ' + zakaz.getZakazStatus()}"></h4>-->

<!--    <div th:each="zakazGood : ${zakazGoodService.findByZakaz(zakaz)}">-->
<!--        <div th:text="${zakazGood.getGoods().getPrice() +  zakazGood.getGoods().getName()}">-->
<!--            nothing-->
<!--        </div>-->
<!--    </div>-->
<!--    <br>-->
<!--    <div th:if="${zakaz.getDeliver() == null}">-->
<!--        <div>Not taken by deliver</div>-->
<!--    </div>-->
<!--    <div th:unless="${zakaz.getDeliver() == null}">-->
<!--        <h4>Deliver</h4>-->
<!--        <div th:text="${zakaz.getDeliver().getName() + ', number is ' + zakaz.getDeliver().number}">Not taken by deliver</div>-->
<!--    </div>-->

<!--    <form action="#" th:action="@{/api/v1/authenticated/zakaz/dead/{id}(id=${zakaz.getId()})}" method="POST">-->
<!--        <button type="submit">Decline!</button>-->
<!--    </form>-->


<!--</div>-->

<!--</div>-->

<!--</body>-->
<!--</html>-->







<!--&lt;!&ndash;<!DOCTYPE html>&ndash;&gt;-->
<!--&lt;!&ndash;<html  lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">&ndash;&gt;-->
<!--&lt;!&ndash;<head>&ndash;&gt;-->
<!--&lt;!&ndash;    <meta charset="UTF-8">&ndash;&gt;-->
<!--&lt;!&ndash;    <title>Title</title>&ndash;&gt;-->
<!--&lt;!&ndash;</head>&ndash;&gt;-->
<!--&lt;!&ndash;<body>&ndash;&gt;-->

<!--&lt;!&ndash;<form th:action="@{/api/v1/goods/search/{distributor_id} (distributor_id = ${distributor.getId()})}" method="post">&ndash;&gt;-->
<!--&lt;!&ndash;    <label >&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="text" name="name" placeholder="Search by name">&ndash;&gt;-->
<!--&lt;!&ndash;    </label>&ndash;&gt;-->
<!--&lt;!&ndash;    <button type="submit">Search</button>&ndash;&gt;-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->

<!--&lt;!&ndash;<br>&ndash;&gt;-->
<!--&lt;!&ndash;<div th:text="${distributor.getName()}"></div>&ndash;&gt;-->
<!--&lt;!&ndash;<img th:src="@{/{image}(image=${distributor.getPhoto()})}" alt="no image"  height="20%" width="20%">&ndash;&gt;-->
<!--&lt;!&ndash;<p th:text="${distributor.getDescription()}"></p>&ndash;&gt;-->


<!--&lt;!&ndash;<div th:each="good:${goods}">&ndash;&gt;-->
<!--&lt;!&ndash;    <p th:text="${good.getName()  +', ' + good.getPrice()}"></p>&ndash;&gt;-->
<!--&lt;!&ndash;    <img th:src="@{/{image}(image=${good.getPhoto()})}" alt="no image"  height=5%" width=5%">&ndash;&gt;-->
<!--&lt;!&ndash;    <form action="#" th:action="@{/api/v1/goods/zakaz/{goods_id}/{distributor_id}(goods_id=${good.getId()}, distributor_id = ${distributor.getId()})}" method="POST">&ndash;&gt;-->
<!--&lt;!&ndash;        <button type="submit">Add to Zakaz</button>&ndash;&gt;-->
<!--&lt;!&ndash;    </form>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div th:each="zakazGood : ${zakazGoods}">&ndash;&gt;-->
<!--&lt;!&ndash;    <div th:text="${zakazGood.getGoods().getPrice() +  zakazGood.getGoods().getName()}">&ndash;&gt;-->
<!--&lt;!&ndash;        nothing&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->


<!--<form action="#" th:action="@{/api/v1/authenticated/zakaz/make}" method="POST">-->
<!--    <select th:field="*{payments}" >-->
<!--        <option th:each="payment : ${payments}" th:value="${payment}" th:text="${payment}">-->
<!--        </option>-->
<!--    </select>-->
<!--    <label for="address">Address:</label>-->
<!--    <input type="text" id="address" name="address" placeholder="Enter your address" >-->
<!--    <button type="submit">Make zakaz</button>-->
<!--</form>-->




<!--&lt;!&ndash;<h2>Reviews</h2>&ndash;&gt;-->
<!--&lt;!&ndash;<div th:text = "${total + '*****'}"></div>&ndash;&gt;-->
<!--&lt;!&ndash;<div th:text = "${distributor.getQuantity() + ' times we were reviewed'}"></div>&ndash;&gt;-->
<!--&lt;!&ndash;<h2>TO review</h2>&ndash;&gt;-->

<!--&lt;!&ndash;<form action="#" th:action="@{/api/v1/distributor/review/{id}(id=${distributor.getId()})}" method="POST">&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="number" id="review" name="review" placeholder="Review" >&ndash;&gt;-->

<!--&lt;!&ndash;    <button type="submit">review</button>&ndash;&gt;-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->



<!--&lt;!&ndash;</body>&ndash;&gt;-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->


































<!--&lt;!&ndash;<!DOCTYPE html>&ndash;&gt;-->
<!--&lt;!&ndash;<html xmlns:th="http://www.thymeleaf.org">&ndash;&gt;-->
<!--&lt;!&ndash;<head>&ndash;&gt;-->
<!--&lt;!&ndash;    <meta charset="UTF-8">&ndash;&gt;-->
<!--&lt;!&ndash;    <title>Title</title>&ndash;&gt;-->
<!--&lt;!&ndash;</head>&ndash;&gt;-->
<!--&lt;!&ndash;<body>&ndash;&gt;-->
<!--&lt;!&ndash;<h1>BIN!</h1>&ndash;&gt;-->
<!--&lt;!&ndash;<h4>Orders</h4>&ndash;&gt;-->
<!--&lt;!&ndash;<div th:each="zakaz:${zakazList}">&ndash;&gt;-->
<!--&lt;!&ndash;    <h4 th:text="${'Delivery price is ' + zakaz.getTotalPrice()+', Quantity is ' + zakaz.getQuantity() + ' and Status is ' + zakaz.getZakazStatus()}"></h4>&ndash;&gt;-->

<!--&lt;!&ndash;    <div th:each="zakazGood : ${zakazGoodService.findByZakaz(zakaz)}">&ndash;&gt;-->
<!--&lt;!&ndash;        <div th:text="${zakazGood.getGoods().getPrice() +  zakazGood.getGoods().getName()}">&ndash;&gt;-->
<!--&lt;!&ndash;            nothing&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <br>&ndash;&gt;-->
<!--&lt;!&ndash;    <div th:if="${zakaz.getDeliver() == null}">&ndash;&gt;-->
<!--&lt;!&ndash;        <div>Not taken by deliver</div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div th:unless="${zakaz.getDeliver() == null}">&ndash;&gt;-->
<!--&lt;!&ndash;        <h4>Deliver</h4>&ndash;&gt;-->
<!--&lt;!&ndash;        <div th:text="${zakaz.getDeliver().getName() + ', number is ' + zakaz.getDeliver().number}">Not taken by deliver</div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--&lt;!&ndash;    <form action="#" th:action="@{/api/v1/authenticated/zakaz/dead/{id}(id=${zakaz.getId()})}" method="POST">&ndash;&gt;-->
<!--&lt;!&ndash;        <button type="submit">Decline!</button>&ndash;&gt;-->
<!--&lt;!&ndash;    </form>&ndash;&gt;-->


<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;</body>&ndash;&gt;-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->




























<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<div th:text="${client.getId() + ', '+client.getName()+', '+client.getNumber() + ', '+client.getUsername()}">-->

<!--</div>-->

<!--<form th:action="@{/api/v1/authenticated/client/edit/{client_id}(client_id=${client.getId()})}"  enctype="multipart/form-data" method="POST">-->
<!--    <label for="username1">Username:</label>-->
<!--    <input type="text" id="username1" th:placeholder="${client.getUsername()}" name="username">-->
<!--    <br>-->
<!--    <label for="firstName">First Name:</label>-->
<!--    <input type="text" id="firstName" name="name" th:placeholder="${client.getName()}" >-->
<!--    <label for="number">Number:</label>-->
<!--    <input type="text" id="number" name="number" th:placeholder="${client.getNumber()}" >-->
<!--    <button type="submit">Edit Client</button>-->

<!--</form>-->
<!--<br>-->

<!--<div class="block" th:if="${!ecard.isEmpty()}">-->
<!--    <p th:text="'INN '+ ${ecard.get().getInn()}"></p>-->
<!--    <p th:text=" 'Date ' + ${ecard.get().getLocalDate()}"></p>-->
<!--    <p th:text=" 'Owner  ' + ${ecard.get().getClient().getName()}"></p>-->
<!--</div>-->
<!--<br>-->
<!--<div class="block" th:unless="${!ecard.isEmpty()}">-->
<!--    No card yet!-->
<!--    <form th:action="@{/api/v1/card/add/card}"  enctype="multipart/form-data" method="POST">-->
<!--        <label for="username1">INN:</label>-->
<!--        <input type="number" id="name2" th:placeholder="${client.getUsername()}" name="inn">-->
<!--        <br>-->
<!--        <label for="firstName">Bank name:</label>-->
<!--        <input type="text" id="firstName2" name="bankName"  >-->
<!--        <label for="number">Date:</label>-->
<!--        <input type="date" id="number2" name="date" >-->
<!--        <button type="submit">Add card</button>-->

<!--    </form>-->
<!--</div>-->



<!--<img th:src="@{/{image}(image=${client.getPhoto()})}"  alt="no image" height="300px" width="300px">-->


<!--<form th:action="@{/api/v1/authenticated/client/change/photo/{client_id}(client_id=${client.getId()})}"  enctype="multipart/form-data" method="POST">-->
<!--    <label for="photo">Image:</label>-->
<!--    <input type="file" id ="photo" name = "image">-->
<!--    <button type="submit">Change photo</button>-->
<!--</form>-->


<!--<div th:each="request:${requests}">-->
<!--    <h2 th:text="${request.getRequestStatus()}">-->

<!--    </h2>-->
<!--</div>-->

<!--<form th:action="@{/api/v1/authenticated/client/request/{client_id}(client_id=${client.getId()})}" method="POST">-->
<!--    <button type="submit">Request!</button>-->
<!--</form>-->





<!--</body>-->
<!--</html>-->


























<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>BIN!</h1>
<h4>Orders</h4>


</body>
</html>